button {
  border-radius: 8px;
  border-width: 0.1rem;
  padding: 7px;
  margin: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}


button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}